html body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.header {
    background-color: #525E66;
    color: #BF9999;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.header h1{
    letter-spacing: .15em;
    text-transform: uppercase;
    font-weight: 700;
}

.header h3{
    letter-spacing: .15em;
    text-transform: uppercase;
    font-weight: 400;
}